spring:
  application:
    name: dioxide-eureka
server:
  port: 8888
eureka:
  instance:
    hostname: localhost
    appname: 注册中心
  server: #配置属性，但由于 Eureka 自我保护模式以及心跳周期长的原因，经常会遇到 Eureka Server 不剔除已关停的节点的问题
    enable-self-preservation: false
    eviction-interval-timer-in-ms: 5000
    peer-eureka-nodes-update-interval-ms: 1000
    wait-time-in-ms-when-sync-empty: 0
  client: # 不向注册中心注册自己
    fetch-registry: false
    register-with-eureka: false
    service-url:
      defultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
    eureka-server-total-connections: 200